*.d.ts
*.js
*.js.map
*.key
*.log
*.p12
*.pem
*.pfx
*.swo
*.swp
*.test.js
*.token
*cert*/
*credentials*.json
*token*.json
*~
.DS_Store
.env
.env*
.env.local
.globalize.json5
.idea/
.vscode/
Thumbs.db
build/
credentials.json
dist/
google-contacts-token.json
node_modules/
npm-debug.log*
test/
token
token.json
tokens
yarn-debug.log*
yarn-error.log*
